// Define variables for your color scheme

// For example:
$blue: #0D6EFD;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$pink: #E74F6A;
$orange: rgb(242, 94, 61);
$beige: #F2D0A7;
$yellow: #F2AC29;
$sec_yellow: #EFC956
