// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Gravitas+One|Poppins:400,700&display=swap');

// Define fonts for body and headers
$body-font: "Poppins", "Helvetica", "sans-serif";
$headers-font: "Gravitas One", "Helvetica", "sans-serif";

// Set letter spacing for headers
$h1-letter-spacing: -0.1em;
$h2-letter-spacing: -0.1em;
$h3-letter-spacing: -0.1em;
$h4-letter-spacing: -0.1em;
$h5-letter-spacing: -0.1em;
$h6-letter-spacing: -0.1em;
