<div class="d-flex align-items-center justify-content-center flex-column container min-vh-100 w-100">
  <h2>This is your personal profile page</h2>
  <div>
    <h3>This is your previous Querys:</h3>
    <div>
    </div>
  </div>
  <%= link_to "Back", :back %>
</div>
