// Specific CSS for your home-page
.home-page {
  // background-image: linear-gradient(
  //     90deg,
  //     rgba(231, 79, 106, 0.5) 0%,
  //     rgba(242, 193, 46, 0.8) 100%
  //   ),
  //   asset-url('background-image.png');
  // background-image: linear-gradient(
  //     360deg,
  //     rgba(239, 201, 86, 0.8) 54.92%,
  //     rgba(231, 79, 106, 0.8) 142.62%
  //   ),
  //   asset-url('background-image.png');
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    asset-url('background-image.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 2rem;

    height: 100vh;

    h2 {
      text-align: center;
      text-shadow: 2px 2px 0px $pink;
    }
  }


  &-buttons-container {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 1rem;

    width: 100%;
  }

  .transparent-box {
    width: 1320px;
    height: 580px;
    background-color: rgba(255, 192, 203, 0.5); /* Pink color with 50% opacity */
    border-top: 1px solid #fff; /* White border */
    border-left: 1px solid #fff; /* White border */
    border-right: 1px solid #fff; /* White border */
    border-radius: 20px 20px 0 0; /* Rounded top corners */
    display: flex;

    .bazzy{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 490px; /* Adjust the width as desired */
      height: auto;
      margin-bottom: -47px;
    }

    .left-container {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: end;
      padding: 20px;
      position: relative;

      bottom: 0;
      transform: translateY(100%);
      animation: moveUp 2.5s ease-in-out forwards;

      @keyframes moveUp {
        0% {
          transform: translateY(100%);
        }
        100% {
          transform: translateY(0);
        }
      }

      .hover-button {
        width: 55%;
        padding: 40px;
        margin: 15px;
        // background-color: #fff;
        background: linear-gradient(150deg, #f7b9d7 0%, #fff 100%);
        border: none;
        border-radius: 20px;
        cursor: pointer;
        transition: background-color 0.3s ease, filter 0.3 ease, box-shadow 0.3s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
        filter: blur(1.5px);
        font-size: 21px;
        animation: unblurAnimation 4s ease-in-out forwards;

        @keyframes unblurAnimation {
          0% {
            filter: blur(3.5px);
          }
          100% {
            filter: none;
          }
        }

        &:hover {
          // background-color: #f1f1f1;
          background: linear-gradient(150deg, #fff 0%, #f7b9d7 100%);
          box-shadow: 1px 4px 12px rgba(0, 0, 0, 0.4);
          font-weight: 500;
        }
      }

    }

    .right-container {
      flex: 1;
      padding-top: 100px;
      padding-right: 50px;
      /* Styles for the right section */
      .background-container {
        width: 100%;
        height: 100%;
        // background-image: url('background-image.png');
        background-image: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.5) 0%,
        rgba(0, 0, 0, 0.8) 100%
        ), url('background-image.png');
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 1; /* Adjust the opacity as needed */
        border-top: 1px solid #fff; /* White border */
        border-left: 1px solid #fff; /* White border */
        border-right: 1px solid #fff; /* White border */
        border-radius: 20px 20px 0 0; /* Rounded top corners */
        padding: 20px;

        h1 {
          font-size: 1.5rem;
        }
      }

      .movie-box {
        width: 400px;
        background-color: #444;
        border: 1px solid #999;
        border-radius: 10px;
        position: relative;
        margin-bottom: 20px;
      }

      .close-button {
        position: absolute;
        top: -5px;
        right: -5px;
        background: #fff;
        border: none;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        font-size: 16px;
        color: #444;
        cursor: pointer;

        &:hover {
          background-color: #ddd;
        }

      }

      .content {
        display: flex;
        padding: 10px;
      }

      img {
        width: 100px;
        height: auto;
        margin-right: 10px;
        border-radius: 15px;
      }

      .h7 {
        margin-bottom: 10px;
        font-size: 18px;
      }

      .p {
        margin-bottom: 10px;
        font-size: 10px;
      }


      .button {
        font-size: 8px;
        padding: 0 5px ;
        background-color: transparent;
        border: none;
        box-shadow: none;
        border-radius: 50px;
        padding: 1px 10px;
        margin-right: 10px;
        cursor: pointer;
        color: #fff;
      }

      .button:hover {
        border: #fff solid 1px;
      }
    }
  }
}






.font-size-70 {
  font-size: 70px;
}

#product-image {
  margin-right: 120px;
}
