.trailer {
  position: relative;
  height: 20%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio (change as needed) */
  border-radius: 15px;
  border: 1px solid #ebebeb;
  overflow: hidden;
}

.trailer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* CSS class for the sticky poster */
.sticky-poster {
  position: sticky;
  top: 95px; /* Adjust the top position as needed */
}

.sticky-poster img {
  width: 100%;
  border-radius: 15px;
  border: 1px solid #ebebeb;
}

.genre-button {
  background: transparent;
  border-radius: 20px;
  border: 1px white solid;

  font-weight: 400;
  font-size: 12px;

  color: #ffffff;

  padding: 10px 30px;
  transition: background 0.2s ease-in-out;

  &:hover {
    background: #1a1a1a;
  }
}

.watch-button {
  background: transparent;
  text-decoration: none;
  font-weight: 400;
  font-size: 12px;
  width: 100%;
  color: #ffffff;
  transition: background 0.2s ease-in-out;
  text-align: center;
  &:hover {
    font-weight: 500;
    color: #ffffff;
  }
}


.better-streaming-logo {
  margin-bottom: 20px;
  height: 50px;
  object-fit: contain;
}

.platform {
  display: inline-block;
  text-align: center;
}

.platform img {
  width: 100px; /* Adjust the width as needed */
}

.platform .watch-button {
  margin-top: 10px; /* Adjust the margin as needed */
}
