$border-radius-size: 14px;

* {
  scroll-behavior: smooth!important;
}

.left-button {
  left: -16px;
}

.right-button {
  right: -16px;
}

.slider-button {
  border: 1px solid #f3f3f3;
  background: linear-gradient(90deg, $pink 0%, $yellow 100%);
  color: #f3f3f3;

  border-radius: 9999px;
  font-size: 24px;

  padding: 4px 16px;

  position: absolute;
  z-index: 9999;

  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }

  &:disabled {
    opacity: 0.4;
  }
}

.w-unset {
  width: unset;
}

.clash-card {
  background: white;
  width: 300px;
  min-height: 550px;

  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin: 16px;
  border-radius: $border-radius-size + 5;
  position: relative;
  text-align: center;
  box-shadow: -1px 15px 30px -12px black;
  text-decoration: none;


}

.clash-card__image {
  position: relative;
  height: 230px;
  margin-bottom: 35px;
  border-top-left-radius: $border-radius-size;
  border-top-right-radius: $border-radius-size;
}

.clash-card__image--barbarian {
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/archer-bg.jpg');
  position: relative;

  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;

  img {
    width: 300px;
    position: absolute;
  }
}

.clash-card__level {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 3px;
}

.clash-card__level--barbarian {
  color: $pink;
}

.clash-card__unit-name {
  font-size: 26px;
  color: black;
  font-weight: 900;
  margin-bottom: 5px;
}

.clash-card__unit-description {
  color: rgba(0, 0, 0, 0.699);
  padding: 20px;
  margin-bottom: 10px;
}

.clash-card__unit-stats--barbarian {
  background: $pink;

  .one-third {
    border-right: 1px solid #bd7c2f;
  }
}

.clash-card__unit-stats {
  color: white;
  font-weight: 700;
  border-bottom-left-radius: $border-radius-size;
  border-bottom-right-radius: $border-radius-size;

  .one-third {
    width: 33%;
    float: left;
    padding: 20px 15px;
  }

  sup {
    position: absolute;
    bottom: 4px;
    font-size: 45%;
    margin-left: 2px;
  }

  .stat {
    position: relative;
    font-size: 24px;
    margin-bottom: 10px;
  }

  .stat-value {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
  }

  .no-border {
    border-right: none;
  }
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ' ';
  clear: both;
  height: 0;
}

.slick-prev {
  left: 100px;
  z-index: 999;
}

.slick-next {
  right: 100px;
  z-index: 999;
}
