<div class="movie-card">
  <%= image_tag "", data: {omdb_request_target:"movie_post"} %>
  <div class="movie-card-infos-container">
    <h1 class="text-dark movie-card-infos-container-title" data-omdb-request-target="movie_title"></h1>
    <p class="text-dark movie-card-infos-container-description" data-omdb-request-target="movie_description"></p>
    <div class="movie-card-infos-container-buttons-container">
      <%= link_to "Learn more", "", class: "movie-card-infos-container-buttons-container-button" %>
      <%= link_to "Watch", "", class: "movie-card-infos-container-buttons-container-button" %>
      <%= link_to "More like this", "", class: "movie-card-infos-container-buttons-container-button" %>
    </div>
  </div>
</div>
