<%= render "shared/navbar" %>
<div class="container my-2 p-0 min-vh-100">
  <h1>Bazzy's Picks:</h1>
  <p> What you told Bazzy: <em> "<%=  @display_prompt%>" </em> </p>
  <hr class="w-75"/>
  <div class="container d-flex">
    <div data-controller="view-more" class="d-flex flex-column align-item-start justify-content-start gap-4 w-100 my-4">
      <% @recommendations.each_with_index do |movie, index| %>

          <% if index < 3 %>
            <div data-view-more-target="cards" data-controller="omdb-request" class="d-flex flex-column align-item-center justify-content-center gap-3">
              <%= render "recommendations/movie_card",movie: movie, index: index %>
            </div>
          <% else %>
            <div data-view-more-target="cards" data-controller="omdb-request" class="d-flex flex-column align-item-center justify-content-center gap-3 d-none">
              <%= render "recommendations/movie_card", movie: movie, index: index %>
            </div>
          <% end %>

      <% end %>
      <div class="w-100 d-flex flex-wrap gap-3">
        <button data-view-more-target="more" data-action="click->view-more#more" class="view-button">View more</button>
        <button data-view-more-target="all" data-action="click->view-more#all" class="view-button">View all</button>
      </div>
    </div>
  </div>
</div>
