<div class="home-page d-flex flex-column justify-content-center align-items-center vh-100 bg-dark">
  <div class="container home-page-container">
    <h1>Your next favorite movie or TV show is just a click away.</h1>
    <div class="home-page-buttons-container">
      <button class="magic-button">Magic</button>
      <button class="generic-button">Generic</button>
    </div>
    <%= image_tag "image-showcase.png", alt: "Show case of BazzAI" %>
  </div>
</div>
