<div class="home-page d-flex flex-column justify-content-center align-items-center vh-100 bg-dark">
  <div class="container home-page-container">
    <h1 class="logo1 font-size-48">Movie Mate</h1>
    <h2 class="text-center font-weight-bold mb-0">Finally Recommendations That Don't Suck</h2>
    <div class="home-page-buttons-container">
      <%= link_to "Find Your Perfect Match", search_path, class: "magic-button text-decoration-none" %>
      <%# <button class="generic-button">Generic</button> %>
    </div>
    <%= image_tag "image-showcase.png", alt: "Show case of BazzAI" %>
  </div>
</div>
