<div class="d-flex flex-column justify-content-center align-items-center vh-100">
  <h1 class="logo1">Bazzy</h1>
  <br>
  <h1 class="logo2">Bazzy</h1>
  <br>
  <h1 class="logo3">Bazzy</h1>
  <br>
  <h1 class="text-center">Bazzy</h1>
</div>
