<div class="home-page d-flex flex-column justify-content-center align-items-center vh-100 bg-dark">
  <div class="container home-page-container">
    <h1 class="logo1 font-size-70">Movie Mate</h1>
    <h2 class="text-center font-weight-bold mb-0">Finally Recommendations That Don't Suck</h2>
    <div class="home-page-buttons-container">
      <%= link_to "Find Your Match", search_path, class: "magic-button text-decoration-none mb-4" %>
    </div>
    <div class="transparent-box">
      <%= image_tag "bazzy_avatar.png", alt: "Image 1", class: "bazzy" %>
      <div class= "left-container">
        <button class="hover-button">Set your mood</button>
        <button class="hover-button">Bazzy learns</button>
        <button class="hover-button">AI magic</button>
        <button class="hover-button">Perfect matches</button>
      </div>
      <div class="right-container">
        <div class="background-container d-flex flex-column align-items-center">
          <h1 class= "pt-3">Bazzy's picks</h1>
          <hr class="divider">
          <div class="movie-box">
            <button class="close-button">&times;</button>
            <div class="content">
              <img src="https://i.pinimg.com/originals/3f/91/74/3f9174c6b303e839c6526c3a175d7af9.jpg" alt="Image 1">
              <div class="info" data-controller="typewriter">
                <p class="h7" data-typewriter-target="text" data-typewriter-delay="0">The Lion King (1994)</p>
                <p class= "p" data-typewriter-target="text" data-typewriter-delay="500">Lion prince Simba and his father are targeted by his bitter uncle, who wants to ascend the throne himself.</p>
                <button class="button" data-typewriter-target="text" data-typewriter-delay="2800">Learn more</button>
                <button class="button" data-typewriter-target="text" data-typewriter-delay="2900">More like this</button>
              </div>
            </div>
          </div>

          <div class="movie-box">
            <button class="close-button">&times;</button>
            <div class="content">
              <img src="https://wallpaperaccess.com/full/8066419.jpg" alt="Image 2">
              <div class="info" data-controller="typewriter">
                <p class="h7" data-typewriter-target="text" data-typewriter-delay="3000">The Godfather (1972)</p>
                <p class= "p" data-typewriter-target="text" data-typewriter-delay="3200">Don Vito Corleone, head of a mafia family, decides to hand over his empire to his youngest son Michael.</p>
                <button class="button" data-typewriter-target="text" data-typewriter-delay="5400">Learn more</button>
                <button class="button" data-typewriter-target="text" data-typewriter-delay="5500">More like this</button>
              </div>
            </div>
          </div>
        </div>
    <!-- Content for the right section -->
      </div>
    </div>
    <%# <%= image_tag "image-showcase.png", alt: "Show case of BazzAI", id: "product-image" %>
  </div>
</div>
