<div class="d-flex flex-column justify-content-center align-items-center vh-100 bg-dark">
  <p>Primary Logo:</p><h1 class="logo1">Movie Mate</h1>
  <br>
  <p>Secondary Logo:</p><h1 class="logo2">MovieMate</h1>
  <br>
  <%# <h1 class="logo3">MovieMate</h1>
  <br>
  <h1 class="text-center">MovieMate</h1> %>
</div>
