.magic-button {
  background: linear-gradient(90deg, #e74f6a 0%, #f2c12e 100%);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  border: none;

  font-weight: 600;
  font-size: 20px;

  color: #ffffff;

  padding: 20px 72px;
  transition: background 0.2s ease-in-out;

  &:hover {
    background: linear-gradient(180deg, #e74f6a 0%, #f2c12e 100%);
  }
}

.generic-button {
  background: #000000;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  border: none;

  font-weight: 600;
  font-size: 20px;

  color: #ffffff;

  padding: 20px 72px;
  transition: background 0.2s ease-in-out;

  &:hover {
    background: #1a1a1a;
  }
}
