.form-buttons {
  display: flex;
  gap: 10px;
}

.form-button {
  background-color: black;
  width: 170px;
  color: white;
  border-radius: 20px;
  border: 1px solid rgb(248, 245, 245);
  padding: 10px 20px;
  cursor: pointer;

  &:focus,
  &:active,
  &.selected {
    background: linear-gradient(90deg, pink 0%, $pink 100%);
    border: none;
  }
}

.search-button {
  background: linear-gradient(90deg, pink 0%, $pink 100%);
  width: 170px;
  color: white;
  border-radius: 20px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
