// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_inputs";
@import "navbar";
@import "buttons";

@import "movie_card";

@import "slider";
@import "form_button";
@import "help_icon";
@import "footer";

html, body {
  cursor: url(bazzy_avatar.png), auto;
}

.list-style-none {
  list-style: none;
}

.learn-more-pop-up {
  min-height: 100vh;

  padding: 20px 0;
  position: fixed;
  top: 0;

  width: 100%;
  z-index: 2000;

  .card {
    border-radius: 16px;
  }

  &-black {
    background-color: rgba($color: #000000, $alpha: 0.8);
    min-height: 100vh;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
