.movie-card {
  align-items: center;
  display: flex;
  justify-content: center;

  background: rgba(241, 241, 241, 0.3);
  border: 1px solid #ebebeb;
  backdrop-filter: blur(30px);

  border-radius: 24px;

  // margin: 0 auto;
  gap: 1rem;
  padding: 1rem;

  position: relative;

  max-width: 700px;
  width: 100%;

  &-user-page {
    max-width: unset;
    min-width: 600px;
    min-height: 400px;

    &-watch-list {
      max-width: 700px;
    }
  }



  &-delete-button {
    background: rgb(255, 255, 255);

    border-radius: 50%;
    border: none;

    color: rgb(0, 0, 0);
    font-family: Poppins, sans-serif;
    font-size: 0.6rem;
    font-weight: bold;
    padding: 0.5rem 0.8rem;
    text-decoration: none;
    transition: all 0.2s ease-in-out;

    top: -10px;
    right: -10px;

    position: absolute;

    &:hover {
      background: rgb(0, 0, 0);
      color: #fff;
      border: #fff 1px solid;
    }
  }

  img {
    border-radius: 16px;
    max-width: 200px;
  }

  &-infos-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &-title {
      text-shadow: none;

      font-family: Poppins, sans-serif;
      font-size: 1.5rem;
      font-weight: bold;
    }
    &-description {
      font-family: Poppins, sans-serif;
      font-size: 1rem;
      font-weight: normal;
    }
    &-buttons-container {
      display: flex;
      justify-content: flex-start;
      gap: .5rem;
      width: 100%;

      &-button {
        // background-image: linear-gradient(to right, $pink 0%, $yellow 100%);
        border-radius: 40px;
        border: white 1px solid;

        box-sizing: border-box;

        color: white;

        display: block;

        font-family: Poppins, sans-serif;
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: 1px;
        text-decoration: none;

        margin: 0;
        padding: .5rem 1rem;

        position: relative;
        z-index: 2;

        overflow: hidden;
        transition: all 0.2s ease-in-out;

        &:hover {
          background-image: linear-gradient(to left, $pink 0%, $yellow 100%);
          font-weight: 600;
          color: white;
          border: pink 1px solid;
        }
      }
    }
  }
}
