.bazzy-display {
  flex-shrink: 0; /* Prevent shrinking */
  width: 150px;
  height: 150px;
}

#bazzy-index {
  width: 100%;
  height: 100%;
}

.typewriter-container {
  background-color: black;
  flex-grow: 1;
  display: flex;
  align-items: center;
  border: 1px solid rgb(250, 247, 247);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 10px 20px;
  font-family: 'Pompiere';
  font-size: 1.5rem;
}

.prompt-container {
  height: 200px;
  display: flex;
  justify-content: flex-start; /* Align to the left */
  align-items: center;
}
